.App-header {
	position: fixed; /* Set the navbar to fixed position */
	top: 0; /* Position the navbar at the top of the page */
	width: 100%;
	background-color: white;
	z-index: 3;
}

.App-body {
	height: 100vh;
	width: 100%;
	overflow: scroll;

	color: white;
}
